<h1>
  {{title}}
</h1>

<app-output [input]="'test'" (outputBack)="onBack($event)"></app-output>
{{counter}}

<input type="text" [(ngModel)]="color"/>
<select [(ngModel)] = "color2">
    <option *ngFor="let item of color_options" value="{{item}}">{{item}}</option>
    <!--<option value="black">Black</option>
    <option value="#333">#333</option>
    <option value="pink">pink</option>-->
</select>
<p [highlight]="'black'"> Highlight me!!</p>
<p [highlight]="color"> Highlight me!!</p>
<p [highlight]="color2"> Highlight me!!</p>
<p [highlight]="color" [color]="'green'"> Highlight me!!</p>
<p highlight> Highlight me!!</p>
<p highlight> Highlight me!!</p>